body {
	font-size: 11px;
}

#container {
	border-radius: 0;
	padding: 0;
	border: 0;
}

#container > ul {
	display: none;
}

#container > div.ui-tabs-panel {
	border: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.hidden {
	display: none !important;
}

/* selectables */
#mediaFolderViewPort {
	width: 75%;
	overflow: hidden;
}

#mediaFolderContainer {
	width: 50000px; /* hopefully enough room for everything. hella hax. */
	position: relative;
}

#mediaFolderContainer .busy {
	float: left;
}

.ui-selectable ui-selecting {
	background: #dfeffc;
	color: #2e6e9e;
}

.ui-selectable .ui-selected {
	background: #5c9ccc;
	color: #c5dbec;
}

.ui-selectable {
	list-style-type: none;
	margin: 5px 5px 0 0;
	padding: 0;
	float: left;
	width: 250px;
}

.ui-selectable-helper {
	display: none;
}

.ui-selectable li {
	padding: 2px 10px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.ui-selectable li:hover {
	cursor: pointer;
}

.mediaBrowserItemContainer {
	display: table;
}

.mediaBrowserItemContainer > img {
	display: table-cell;
	vertical-align: middle;
	margin-right: 5px;
	width: 50px;
}

.mediaBrowserItemContainer > img.smallImage {
	width: 25px;
}

.mediaBrowserItemContainer > div {
	display: table-cell;
	vertical-align: middle;
}