<form id='loginForm' method='post' action='#'>
<table>
	<tr>
		<td><label for='loginName'>username</label></td>
		<td><input type='text' id='loginName' /></td>
	</tr>
	<tr>
		<td><label for='loginPass'>password</label></td>
		<td><input type='password' id='loginPass' /></td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<input type='checkbox' id='loginRemember' checked='checked' />
			<label for='loginRemember'>Remember Me</label>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>
			<input type='submit' value='Log In' />
		</td>
	</tr>
</table>
</form>